<!--form handling-->
<form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name"class="text-light">Task Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="">
        </div>
        <div class="form-group">
            <label for="n"class="text-light">Task Details</label>
            <input type="text" name="details" value="" placeholder="Enter details">
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>
    </div>
</form>